<html>
  <head>
  </head>
  <body>
    <p>	Mastermind
    </p>

    <form class="role" action="/" method="POST">
    	<input type="submit" value="Play New Game"/>
    </form>

		<p> <%= @message %> </p>

  </body>
</html>


