<!DOCTYPE html>

<html>
  <head>    
  	<title>Mindmaster</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>

    <div class='top'>
      <p>  Mindmaster
      </p>
    </div>

	<div class='frontActions'>

	    <form  action="/" method="POST">
	    	<input class="newGame" type="submit" value="Play New Game"/>
	    </form>

		<p> <%= @message %> </p>

	</div>

  </body>
</html>


